@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300");

body,
input,
select,
textarea {
  color: #404040;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  margin-left: 20px;
}